@import '../../styles/style.scss';

.navbar{position: fixed!important;width: 100%;left: 0;top: 0;z-index: 999 !important;
    img{height: 35px;}
    .navbar-nav ul{
            margin: 0;
            li{
            padding: 15px 0 15px 30px;
            position: relative;
            a{color:#fff;text-decoration: none;
            &:hover{color: $secondary-color;}
            }
            ul{
                position: absolute;
                left: 0;
                top: 40px;
                background-color: #000;
                display: none;
                text-align: left;
                width: 250px;
            }
            &:hover ul{
                display: block;
            }
        } 
        
    }
}
.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link{color: #fff !important;}

