@import '../../styles/style.scss';
.inner-top{
    background-size: cover;
    text-align: left;
    padding: 75px 0 0 0;
    height: 350px;
    position: relative;
    .container{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        height: 100%;
        color:#fff;
        position: relative;
        z-index: 99;
        h1{font-weight: 700;}
        h5{font-weight: 400;}
    }
}