@import '../../styles/style.scss';

.blog{
    padding-bottom: 40px;
    .card-body{
        padding: 0 !important;
        background: #efefef;
    }
    .card-content{
        text-align: left;
        padding: $padding-small;
        padding-top: 0;
        
    }
}