@import '../../styles/style.scss';

.eco-system{
    color: #fff;
   background: url(../../img/ecosystem-bg.jpg) 0 0 no-repeat;background-size: cover;
    .heading{padding-bottom: 20px;}
    h4{color: $secondary-color;}
    h2{color: #fff;}
    .seperator span{background-color: $secondary-color;}
    .eco-content{
        background: url(../../img/ecosystem-sep.png) 0 6px no-repeat;
        text-align:left ;
        padding-left: 60px;
        h5{font-size: 40px;}
        li{padding-bottom: 40px;}
    }
    figure{
        img{
            padding: 40px 0;
            background: #fff;
            border-radius: 20px;
        }
    }

}