@import '../../styles/style.scss';

.collaborate-footer-content{
    background-color: $secondary-color;
    color: #fff;
    padding: $padding-medium;
    border-radius: 10px;
    margin-bottom: -30px;
    position: relative;
    z-index: 99;
    h3{font-weight: 700;font-size:$font-extra-large;}
    a{ 
        color: #fff !important;
        text-decoration: none !important;
        font-weight:500;
        font-size:18px;
        svg{display: inline-block;margin-left: 15px;}
    }
    
}