@import '../../styles/style.scss';

.footer{
    background:$contrast-color;
    padding-top: $padding-large;
    padding-bottom:0;
    color: #aaaaaa;
    text-align: left;
    h5{color: #fff;margin-bottom: 20px;font-size: $font-large;}
        a{color: #aaaaaa;
        &:hover{
            color: $secondary-color;
            text-decoration: none;
        }
        &.logo-icon{
            img{height: 90px;}
        }
    }
    .row2{
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #4b4859;
        svg{display: inline-block;margin-right: 10px;color: $secondary-color;}
        span{display: inline-block;}
    }
    .footer-bottom{
        padding: 20px 0;
    background: #3f3959;
    margin-top: $spacing-unit;
        p, ul{margin: 0;};
        font-size: $font-small;
        li{margin-left: 10px;
       
        }
    }

}